body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  font-family: 'Caslon Pro'; /*-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  src: local('Caslon Pro'), url('./fonts/Adobe Caslon Pro Regular.ttf') format('ttf');
  background-color: rgb(255, 249, 239);
}

body > * {
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Caslon Pro Bold';
  src: local('Caslon Pro Bold'), url('/fonts/Adobe Caslon Pro Bold.ttf') format('ttf');
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.flex-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container > *:nth-child(1) {
  flex-basis: 33%;
  flex-grow: 1;
  color: rgb(255, 249, 239);
  background-color: rgb(25, 96, 140);
}

.flex-container > *:nth-child(2) {
  flex-basis: 66%;
  flex-grow: 1;
  color: rgb(25, 96, 140);
  background-color: rgb(255, 249, 239);
}

.flex-container form {
  margin: 0px;
  width: 60%;
  min-width: 200px;
  color: rgb(25, 96, 140);
  background-color: rgb(255, 249, 239);
  text-align: center;
}

button {
  color: rgb(255, 249, 239);
  background-color: rgb(25, 96, 140);
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: rgb(25, 96, 140);
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: rgb(25, 96, 140) !important;
}

#deleteChoreBtn {
  border-radius: 30px;
  border-color: #ec407a;
  font-size: 20px;
  float: right;
  margin: 25px;
}

.user-card-title {
  text-align: center;
}

.user-card-underline {
  margin: auto;
  border-bottom: 1px solid #ec407a;
  width: 50%;
}
